
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-group:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */